.hypergravity-sidebar-container {
    overflow: visible;
    border-radius: inherit;
    transition: margin-top 0.2s ease;
    font-family: var(--hg-font-family);
}

.hg-dialog-overlay {
    position: fixed;
    inset: 0;
    background: color-mix(in srgb, var(--gem-sys-color--scrim, #000000) 32%, transparent);
    backdrop-filter: blur(1px);
    z-index: 9999;
}

.hg-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px;
    background: transparent;
    width: 100%;
    text-align: left;
    cursor: pointer;
    user-select: none;
    font-family: inherit;
    border-radius: 22px;
    transition: all 0.3s ease-in-out;
}

#hg-hypergravity-section[data-expanded="true"] .hg-section-header {
    background: var(--gem-sys-color--surface);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.hg-section-header-left {
    display: inline-flex;
    align-items: center;
    /* gap: 8px; */
}

.hg-section-title-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-inline-end: var(--mat-list-list-item-leading-icon-end-space, 16px);
}

.hg-section-title-icon.hg-sidebar-themed-icon {
    color: var(--sidenav-button-default-text-color);
}

.hg-section-title {
    font-size: 14px;
    font-weight: 500;
    color: var(--gem-sys-color--on-surface-variant);
}

.hg-dropdown-menu {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
}

.hg-section-content {
    border-radius: 6px 6px 22px 22px;
    padding: 0;
    margin-top: 0;
    transition:
        border-color 0.3s ease-in-out,
        margin-top 0.3s ease-in-out,
        padding 0.3s ease-in-out;
}

#hg-hypergravity-section[data-expanded="true"] .hg-section-content {
    background: var(--gem-sys-color--surface);
    padding: 2px;
    margin-top: 4px;
}

.sidenav-with-history-container.content-loaded.collapsed
    #hg-hypergravity-section
    .hg-section-title {
    display: none;
}

.sidenav-with-history-container.content-loaded.collapsed
    #hg-hypergravity-section
    .hg-section-header-left {
    gap: 0;
}

.hg-dropdown-item {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background 0.15s ease;
    border-radius: 24px;
    border-style: none;
    background: transparent;
}

.hg-dropdown-item:hover {
    background: var(--gem-sys-color--surface-container-high, #e9eef6);
}

.hg-dropdown-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    color: var(--gem-sys-color--on-surface-variant, #444746);
}

.hg-dropdown-item:hover .hg-dropdown-icon {
    color: var(--gem-sys-color--on-surface, #1f1f1f);
}

.hg-dropdown-icon.hg-sidebar-themed-icon {
    color: var(--sidenav-button-default-text-color);
}

.hg-dropdown-item:hover .hg-dropdown-icon.hg-sidebar-themed-icon {
    color: var(--sidenav-button-default-text-color);
}
